* {
  box-sizing: border-box;
}

header {
  background-color: grey;
  display: grid;
  grid-template-columns: 95% 5%;
  height: 100px;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.header-left-content {
  display: flex;
  justify-content: space-around;
  width: 25%;
  align-items: flex-end;
}

.header-right-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 95%;
}

.title {
  font-family: 'Lato', sans-serif;
  margin-left: 10px;
  margin-bottom: 5px;
  }

.cards-area {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: space-around;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.card {
  margin: 10px;
}

.card-upper-image {
  width: 100%;
  height: 15em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.heart-icon {
  display: flex;
  margin-top: -74px;
  margin-left: -5px;
  height: auto;
  width: 8%;
}

.heart-icon:hover {
  transform: scale(1.5);
  transition: all 0.5s ease;
}

#card-1 .card-upper-image {
  background: url('Thailand-image.jpg') no-repeat center;
  background-size: cover;
}

#card-2 .card-upper-image {
  background: url('images/Dubrovnik-image.jpeg') no-repeat center;
  background-size: cover;
}

#card-3 .card-upper-image {
  background: url('images/Lakedistrict-image.jpeg') no-repeat center;
  background-size: cover;
}

#card-4 .card-upper-image {
  background: url('images/Ubud-image.jpeg') no-repeat center;
  background-size: cover;
}

#card-5 .card-upper-image {
  background: url('images/Lisbon-image.jpeg') no-repeat center;
  background-size: cover;
}

#card-6 .card-upper-image {
  background: url('images/Tulum-image.jpeg') no-repeat center;
  background-size: cover;
}

#card-7 .card-upper-image {
  background: url('images/Chengdupanda-image.jpeg') no-repeat center;
  background-size: cover;
}

#card-8 .card-upper-image {
  background: url('images/Paris-image.jpeg') no-repeat center;
  background-size: cover;
}
